@tailwind base;
@tailwind components;
@tailwind utilities;

.site-title-colors {
  background: linear-gradient(to right, #eee 68%, #60a5fa 68%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
